@inject NavigationManager NavigationManager

<a href @onclick="GoToIndex">
   <img class"eco" src="LOGO-2.svg" alt="Ecomart Logo" style="width:200px;" />
</a>



@code {
    private void GoToIndex()
    {
        NavigationManager.NavigateTo("");
    }
}

